.container{
    margin-top:20px;
}
.instance{
    width:100px;
    height:100px;
    float: left;
    border: 5px outset #98bf21;padding:3px;
    margin: 5px;
}

.header{
    position: fixed;
    top:0px;
    float: left;
    width: 100%;
    background-color: white;
}